<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alex's Boiler Plate</title>

    <!-- Compiled and minified CSS -->
    <!-- Materialze-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Materialize icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper" style=" background-color: #9E65A9;">
                <a href="#" class="brand-logo" style="height: 100%;">
                    <img src="/assets/ale.jpg" alt="" class="circle responsive-img" style="height: 100%;padding-top: 5px; padding-left: 15px;"> <!-- notice the "circle" class -->
    
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="https://www.linkedin.com/in/alessiobonti">Linkedin</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main style="background-color:#ffffff;">

        <div class="container">
            <h1 class="title"> <%= title %>  </h1>
            <div class="row">
                <h3> Hello user <%= userId %>   </h3>
            </div>
            <div class="row">
                <div class="col l4 s12">
                    Anxiety <%= mentalState.anxietyValue %>

                </div>
                <div class="col l4 s12">
                    Depression <%= mentalState.depressionValue %>

                </div>
                <div class="col l4 s12">
                    Stress <%= mentalState.stressValue %>

                </div>

            </div>

            <div class="row">
                <% for(var i=0; i<userData.answers.length; i++) {%>
                <dl>
                    <dt>
                        <b>Q<%= i+1 %>. <%= questionsContent[i] %> </b>
                    </dt>
                    <dd>
                        Answer : <%= userData.answers[i].value == 0 ? "Never" : userData.answers[i].value == 1.5 ? "Sometimes" : "Always" %> 
                        (<%= userData.answers[i].value %>).
                    </dd>
                </dl>
                <% } %>
            </div>

            <div class="row center" >
                <h2> Score Interpretation </h2> 
                <p>
                    The 21 item <b>D</b>epression <b>A</b>nxiety <b>S</b>tress <b>S</b>cale questionnaire is used as a quantitative measure of distress along the 3 axes of
                    of depression, anxiety and stress reactions and management. Each of the questions is rated from 0 to 3. Therefore each of 
                    the axes presents partial scores of 0 to 18-24 depending on the number of questions assigned.
                </p>
                <p>
                    There have been created cut off points for each of the severity categories, however, 
                    these should be cautiously used in conjunction to other clinical and observational data and are described in the table below:
                </p>

                <table>
                    <thead>
                        <tr>
                            <th>Level/Disorder</th>
                            <th>Depression</th>
                            <th>Anxiety</th>
                            <th>Stress</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Normal</td>
                            <td>0 - 4</td>
                            <td>0 - 3</td>
                            <td>0 - 7</td>
                        </tr>
                        <tr>
                            <td>Mild</td>
                            <td>5 - 6</td>
                            <td>4 - 5</td>
                            <td>8 - 9</td>
                        </tr>
                        <tr>
                            <td>Moderate</td>
                            <td>7 - 10</td>
                            <td>6 - 7</td>
                            <td>10 - 12</td>
                        </tr>
                        <tr>
                            <td>Severe</td>
                            <td>11 - 13</td>
                            <td>8 - 9</td>
                            <td>13 - 16</td>
                        </tr>
                        <tr>
                            <td>Extremely severe</td>
                            <td>≥ 14</td>
                            <td>≥ 10</td>
                            <td>≥ 17</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="row center" >
                <img src="assets/ale2.jpg" alt="" class="circle responsive-img" style="height: 100%;padding-top: 5px; padding-left: 15px;"> <!-- notice the "circle" class -->
    
            </div>
            <div class="row center " style="padding-top:50px;">
                <a id="printButton" class="waves-effect waves-light btn-large " style="background-color: #9E65A9;">
                    <i class="material-icons left" style="color:white; font-size: larger;">file_download</i>
                    Print your results
                </a>
            </div>
    
          
        </div>
    
    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
          <div class="container">
          © 2020 Copyright AlexNexus
          <a class="grey-text text-lighten-4 right" href="https://github.com/alexbonti/node-material"><img src="assets/git-logo.svg" style="height: 20px; padding-right: 15px;"></i>Boiler plate here !</a>
          </div>
        </div>
      </footer>




    <!-- socket IO Served by the server -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/env.js"></script>

</body>

</html>